<h2>Stocks</h2>
<table mat-table [dataSource]="stocks">

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
      <a mat-icon-button color="primary" title="Add stock" routerLink="/stocks/create">
        <mat-icon>add</mat-icon>
      </a>
    </th>
    <td mat-cell *matCellDef="let stock">
      <a mat-icon-button color="primary" title="Edit {{stock.ticker}}" routerLink="/stocks/{{stock.id}}">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button color="primary" title="Delete {{stock.ticker}}" (click)="delete(stock)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef> Ticker </th>
    <td mat-cell *matCellDef="let stock"> {{stock.ticker}} </td>
  </ng-container>

  <ng-container matColumnDef="shares">
    <th mat-header-cell *matHeaderCellDef> Shares </th>
    <td mat-cell *matCellDef="let stock"> {{stock.shares}}</td>
  </ng-container>

  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef> Currency </th>
    <td mat-cell *matCellDef="let stock"> {{stock.currency}} </td>
  </ng-container>

  <ng-container matColumnDef="basis">
    <th mat-header-cell *matHeaderCellDef> Basis </th>
    <td mat-cell *matCellDef="let stock"> {{stock.basis}} </td>
  </ng-container>

  <ng-container matColumnDef="datePurchased">
    <th mat-header-cell *matHeaderCellDef> Purchased </th>
    <td mat-cell *matCellDef="let stock"> {{stock.datePurchased}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
