<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar  color="primary" >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  (click) = "routeTo('project')" >Project</a>
      <a mat-list-item (click) = "routeTo('land')" >Land</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ngrx-action-base-undo-redo</span>
      <span class="example-spacer"></span>

      <button mat-raised-button color="primary" (click)="undo()" >
        <mat-icon
          [ngClass] = "{
            'active-icon' : isUndoable,
            'non-active-icon' : !isUndoable
          }"
         aria-hidden="false" aria-label="Example home icon">undo
        </mat-icon>
      </button>

      <button mat-raised-button color="primary" (click)="redo()">
      <mat-icon
      [ngClass] = "{
        'active-icon' : isRedoable,
        'non-active-icon' : !isRedoable
      }"
      aria-hidden="false" aria-label="Example home icon">redo
    </mat-icon>
    </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
